

  h1 {
    color: white;
    margin: 0;
    font-size: 22px; 
    margin-top: 10px;
    font-weight: 200;
}



  .card img {
    max-width: 80%;
    max-height: 342px;
    flex-grow: 1;
  }

  .card {
    margin-top: 30px;
    width: 280px;
    height: 480px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(10, 9, 66, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .card p {
    font-size: 18px;
    color: white;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #373737;
    text-align: center;
    cursor: pointer;
    width: 80%;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

#movie-cards {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card p {
  color: whitesmoke;
}

@media (max-width: 768px) {
  #movie-cards {
    display: flex;
    flex-direction: column;
  }
}
